
@model IEnumerable<crud.Models.Car>

<div class="row pt-4">
    <div class="col-6">
        <h2 class="text-primary">Cars list</h2>
    </div>
    <div class="col-6 text-xl-end">
        <a asp-controller="Car" asp-action="Create" class="btn btn-outline-success"><img src="Images/+.png" width="40" /> </a>
    </div>
</div>



@if(Model.Count()>0)
{
    <table class=" table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Owner
                </th>
                <th>
                    Mark
                </th>
                <th>
                    Model
                </th>
                <th>
                    Color
                </th>
                <th>
                    Price
                </th>
                <th>
                    Picture
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var Car in Model)
    {
        <tr>
            <td width="20%">@Car.Id</td>
            <td width="20%">@Car.Model</td>
            <td width="20%">@Car.Mark</td>
            <td width="20%">@Car.Color</td> 
            <td width="20%">@Car.Price</td>
            <td width="20%">@Car.Picture</td>
            <td width="20%">
                <div class="w-100 btn-group"role="group">
                            <a asp-controller="Car" asp-action="Update" asp-route-Id="@Car.Id" class="btn btn-outline-primary mx-1"><img src="Images/update.png" width="40" /></a>
                            <a asp-controller="Car" asp-action="Delete" asp-route-Id="@Car.Id" class="btn btn-outline-danger mx-1">
                                <img src= "Images/X.png" width="40"/> 
                            </a>
                </div>
            </td>
        </tr>
    }
        </tbody>
    </table>

}
else
{
    <p>no cars yet :c</p>
}



